<!-- Header -->

<div class="px-4 md:px-10 mx-auto w-full my-10">
  <div class="px-4 pb-4 row h-60">
    <div class="col text-center flex-row justify-center">
      <p class="text-7xl font-light">Welcome to</p>
      <p class="text-4xl font-semibold">Family Budget App</p>
      <img class="mt-10 h-40 mx-auto" src="/assets/logo.png" alt="" />
    </div>
  </div>
</div>

<div class="relative md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="OVERALL INCOME"
            statTitle="{{overallIncome}}"
            statPercent="3.48"
            statPercentColor="text-emerald-500"
            statDescripiron="Since last month"
            statIconName="far fa-chart-bar"
            statIconColor="bg-red-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="OUTCOME VALUE"
            statTitle="{{outcomeValue}}"
            statArrow="down"
            statPercent="3.48"
            statPercentColor="text-red-500"
            statDescripiron="Since last week"
            statIconName="fas fa-chart-pie"
            statIconColor="bg-orange-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="TOTAL ENTRIES"
            statTitle="{{totalEntries}}"
            statArrow="down"
            statPercent="3.48"
            statPercentColor="text-red-500"
            statDescripiron="Since last week"
            statIconName="fas fa-chart-pie"
            statIconColor="bg-blue-500"
          ></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>
